
/*---FUENTE-EXTERNA----*/
@font-face{
    
    font-family: 'freestyle script';
    src: local("?"), url("../fonts/freescript.ttf") format("truetype");
}
/*---LOGO-----*/
.logo{
    
    background-color:black;
    font-family:'freestyle script';
    color:white;
    margin-left: 2em;
    margin-top: 1.5em;
}

.logo h1{
    
    font-size: 4em;
    font-weight:normal; 
}

/*----BUSQUEDA---*/
.search{
    
    margin-top: 3.5em;
    margin-left: 2em;
}

input.lupa{
    width: 17px;
    height: 17px;
    background-image: url('../Img/lupa.png');
    /*background-color: transparent;
    color: transparent;*/
    border: none;
    outline: none;
    cursor: pointer;
}

input#buscar{
    border: solid 1px white;
    border-radius: 5px;
    /*background-color: white;*/
}
/*----MENU----*/
.menu{   
    
    display: block;
}

.menu a{

    width: 9em;
    text-align: center;
    color:white;
    background-color: black;
    float: right;
    font-family:inherit;
    text-decoration: none;
    margin-right: -2.5em;
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

.menu li{
    float:left;
}


.menu ul{
    list-style-type: none;
}

.menu li a:hover {
    
    opacity: 0.5; 
    cursor: pointer; 
}

/*---MENU-DESPLEGABLE---*/
.menuDes:hover > .desplegable{
    
    display: inline-grid;
}

.desplegable li a{
    
    padding: 10px 12px;
    display: block;
    
}

.desplegable {
    
    display: none;
    position: absolute;
    min-width: 140px;
    margin-top: 2.5em;
}

.desplegable li{
    
    position: relative;
    margin: -0.5em;
}

/*----AYUDA/LOGIN/REGISTRO----*/
.enlaces a{

    color:white;
    text-decoration: none;
    cursor:pointer; 
}

.enlaces{
    
    background-color: black;
    margin-top: 1.7em; 
    text-align: center;
}

/*----CARRITO-----*/
.carrito{
    cursor:pointer; 
    margin-top:0.5em;
}

/*------FOTO-PRINCIPAL------*/
.fotoPrincipal{
    width: 100%;
    height: 100%;  
    
}

/*---MIGAS---*/

.migasPan{
    
    list-style: none;
    margin-top: 2em;
    display: flex;
}

.migasPan li{
    
    margin-left: 1em;
    font-size: 1.2em;
    font-family: inherit;
}


/*--GALERIA-PRODUCTOS1---*/
#productosFotos{
    
    margin-top: 1em;
    display: flex;
    
}

#productosFotos a img{
    
    width: 70%;  
    height: 70%;
    border:1px solid black;
    border-radius: 2%;
    margin-left: 16%;
}

/*--GALERIA-PRODUCTOS2---*/
#productosFotos2{
    
    margin-top: 1em;
    display: flex;
    
}

#productosFotos2 a img{
    
    width: 70%;  
    height: 70%;
    border:1px solid black;
    border-radius: 2%;
    margin-left: 16%;
}

/*--PAGINAS ANTERIOR/POSTERIOR---*/
.paginas{
    
    list-style: none;
    display: flex;
    margin-left: 10em;
    margin-top: -3em;
}

.paginas li{
    
    font-size: 1.2em;
    font-family: inherit;
}

.paginas li:hover{
    
    text-decoration: underline;
    cursor:pointer;
}

/*--NUMERO-PAGINAS--*/
.numeroPaginas{
    
    margin-left: 10.5em;
}

/*----SIGUEME EN----*/

.sigueme p{
    
    font-family: 'freestyle script';
    color:white;
    text-align: center;
    font-size: 3.5em;

}
/*----ICONOS-REDES-SOCIALES-----*/

.icon{
    
    list-style: none;  
    display: flex;  
    margin-bottom:10%;
    margin-top: -5%;
}

.icon a img{
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    width:100%;
}

.icon:hover a img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    transform:scale(1.25);
}

.icon{   /*Ancho y altura*/
    width:300px;
    height:70px;
}

/*-----AVISOS-LEGALES-----*/

.avisosLegales ul li{
    
    color:white;
}

.avisos{
    
    margin:0;
    padding:0;
    margin-top:2em;
    display: flex;
}

.avisos li{
    
    display:block;
    float:left;
    
}

.avisos li a{
    
    color:grey;
    text-align: center;
    font-family:inherit;
    text-decoration: none;
    
}

/*-----DESPLEGABLE-AVISOS-LEGALES----*/
.desplegable_avisos li a{
   
    font-family:'freestyle script';
    font-size: 2em;
    font-weight:normal; 
    color:black;
}

.desplegable_avisos li a:hover{
    
    text-decoration: underline;
 
}

.desplegable_avisos{
   
    margin-left: -2.5em;
    width: 10em;
    padding-right: 9em;
}


/*---COPYRiGHT----*/
.copy a p{
    
    color:black;
    font-family: 'freestyle script';
    text-align: center;
    font-size: 2em;
}

.copy a{
    
    text-decoration: none;
}

.copy a p:hover{
    
    color:darkslateblue;
}

/*----LINE---*/
.line{
    
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 11em;

}

.line img{    
    width: 70%;
}

/*-----GEOLOCALIZACION----*/

.geo a img{
    
    width: 10%;
    margin-top: -18%;
    margin-right: 100%;
}

/*----FONDO-IMAGEN-PINTURAS----*/

#fondoImagen{
    
    background-image: url("../Img/pinturas_pie.png");
    width: 100%; 
    height: 100%;
}


/*----FONDO-IMAGEN-PINTURAS2----*/

#fondoImagen2{
    
    background-image: url("../Img/fondo_pintura1.png");
    width: 100%; 
    height: 100%;
}

/*---FONDO-NEGRO---*/

.fondo{
    
    background-color: black;
    width: 100%; 
    height: 100%;
}

/*---FONDO-BLANCO---*/
.fondoSeccion{
 
    background-color:white;
    width: 100%; 
    height: 100%;
}